html {
	--primary-color: #1779c4;
	--primary-dark-color: #335c80;
	--primary-light-color: #70b1e9;

	--page-background-color: #ffffff;
	--page-foreground-color: #2f4153;
	--page-secondary-foreground-color: #6f7e8e;

	--font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--font-family-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo,
		Consolas, Liberation Mono, monospace;

	--page-font-size: 15.6px;
}

@media (prefers-color-scheme: dark) {
	html {
		--primary-color: #1982d2;
		--primary-dark-color: #86a9c4;
		--primary-light-color: #4779ac;

		--page-background-color: #1c1d1f;
		--page-foreground-color: #d2dbde;
		--page-secondary-foreground-color: #859399;
	}
}


body, table, div, p, dl, #nav-tree .label, .title,
.sm-dox a, .sm-dox a:hover, .sm-dox a:focus, #projectname,
.SelectItem, #MSearchField, .navpath li.navelem a,
.navpath li.navelem a:hover, p.reference, p.definition, div.toc li, div.toc h3 {
    font-family: var(--font-family);
}

p, div, table, dl {
    font-size: var(--page-font-size);
	text-align: justify;
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: var(--primary-color) !important;
    font-weight: 500;
    background: none;
}

h1, h2, h3, h4, h5 {
    margin-top: 1em;
    font-weight: 600;
    line-height: initial;
}

html {
    height: 100%;
}

body {
	color: var(--page-foreground-color);
	background-color: var(--page-background-color);
	font-size: var(--page-font-size);
    margin: 0;
    padding:0;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

img.logo {
    margin: auto;
    width: 100%;
    max-width: 300px;
    display: block;
}